body {
  font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
  font-size: 1.1em;
}

.article-container .article {
  margin-bottom: 50px;
}

.article-container .article-title {
  font-weight: bold;
}

.article-container .article-author {
  font-size: smaller;
}

.article-container .article .categories .category {
  color: #cc0000;
  font-weight: bold;
  font-size: smaller;
}

.main-menu {
  display: inline;
}

.main-menu ul {
  padding-top: 14px;
}

.main-menu ul li {
  display: inline;
}